/* いいかんじにする */

body {
    font-family: "Consolas";
    font-size: 14px;
    overflow: hidden;
}

#problems {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5%;
}

#problems>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
}

#problems>div>div {
    margin: 10px;
}

#input-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#input-area>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
}

#input-area>div>input {
    width: 100%;
    margin-left: 10px;
    padding: 5px;
}

#send-button {
    margin-left: 10px;
    width: 100%;
}

#response-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
    /* padding-bottm: 2%; */
}

/* #response-area > div:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
} */

#pn-button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#next-button {
    margin-left: 10px;
}

#result-area {
    background: rgb(28,27,34);
    color: rgb(251,251,254);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    /* height: 40vh; */
    /* overflow-y: scroll; */
    padding-left: 2%;
    border-left-style: solid;
    border-left-width: 0px;
    /* padding-top: 2%; */
    padding-right: 2%;
    padding-bottom: 10px;
    margin-bottom: 0;
    word-wrap: anywhere;
    /* hide scrollbar */
    /* Edge */
    -ms-overflow-style: none;
    /* firefox  */
    scrollbar-width: none;
}

.pcn-wrapper {
    display: flex;
    flex-flow: column;
    width: calc(100% / 3);
    align-items: center;
    margin: 5px;
}

div.pcn-wrapper > div {
    width: 100%;
}   

.pcn-label {
    overflow: auto;
    white-space: pre;
    margin-top: unset;
    scrollbar-width: none;
    margin-bottom: 1%;
}

.pcn-result {
    width: 100%;
    height: 37vh;
    white-space: nowrap;
    overflow-x: scroll;
    /* hide scrollbar */
    /* Edge */
    -ms-overflow-style: none;
    /* firefox  */
    scrollbar-width: none;
}

#next-result {
    background-color: forestgreen;
}

#prev-result {
    background-color: darkblue;
}

/* chrome */
#result-area::-webkit-scrollbar {
    display:none;
}
.pcn-result::-webkit-scrollbar {
    display:none;
}

#is-correct {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: unset;
}

#your-command {
    margin-top: 1%;
    margin-bottom: 1%;
}

#response-area > hr:nth-child(1) {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
}
