<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
  <script defer src="{{ url_for('static', path='/js/main.js') }}"></script>
</head>

<body>
  <div id="problems"></div>
  <br>
  <br>
  <div id="response-area">
    <div id="is-correct"></div>
    <br>
    <div id="result-area"></div>
  </div>
</body>

</html>
