<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
  <script defer src="{{ url_for('static', path='/js/main.js') }}"></script>
</head>

<body>
  <div id="problems"></div>
  <div id="response-area">
    <hr>
    <div>
      <h3 id="is-correct"></h3>
      <p id="your-command"></p>
      <div id="pn-button-area">
        <button id="prev-button">prev</button>
        <button id="next-button">next</button>
      </div>
    </div>
    <div id="result-area">
      <div class="pcn-wrapper">
        <div><span>prev: </span><p id="prev-cmd" class="pcn-label"></p></div>
        <div class="pcn-result" id="prev-result"></div>
      </div>
      <div class="pcn-wrapper">
        <div><span>current👀: </span><p id="current-cmd" class="pcn-label"></p></div>
        <div class="pcn-result" id="current-result"></div>
      </div>
      <div class="pcn-wrapper">
        <div><span>next: </span><p id="next-cmd" class="pcn-label"></p></div>
        <div class="pcn-result" id="next-result"></div>
      </div>
    </div>
  </div>
</body>

</html>
