<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
  <script defer src="{{ url_for('static', path='/js/main.js') }}"></script>
</head>

<body>
  <p>HELLO WORLD!</p>
  <a onclick="" href="problems/1/file">No.1 Question File</a>
  <input type="text" minlength="50" id="input-area">
  <button id="send-button">EXECUTE</button>
</body>

</html>
